<html>

<head>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>带路线的百度地图(聚类后)</title>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=0NI86a98fypRqxZppPVu0E846hU21NXa"></script>
    <script src="js/bmap.js"></script>
    <style>
        .mainwindow{
            height: 100%;
        }

        .mapwindow{
            height: 80%;
            width: 50%;

            float: left;
        }
        html{height:100%}
        body{height:100%;margin:0px;padding:0px}
        #container{height:100%}
    </style>
</head>

<body>
<div style="float: none;background-color: #66CCCC" class="panel panel-default">
    <div class="panel-body">
        <h4 style="float: left ;color: white">纽约公共自行车数据分析</h4>

        <div class="dropdown" style="float: left;margin-left: 50px;margin-top: 10px">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">站点分析
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/render">归还情况</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/baiduecharts_kmeans2020">站点分析</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">用户特点</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--
<button id="button">test</button>
-->
<form class="form-inline" id="form1" style="float: left;">
    <div class="form-group">
        <label for="exampleInputDate2">日期</label>
        <input type="date" class="form-control" id="exampleInputDate2" placeholder="2020.3.1" name="date">
        <label for="exampleInputNum2">最低数量</label>
        <input type="test" class="form-control" id="exampleInputNum2" placeholder="请输入最低想显示的数量" name="num">
    </div>
    <button type="submit" class="btn btn-default" id="submit_date" onclick="return getLines()" >提交</button>
</form>
<form class="form-inline" id="form2" style="float: left;padding-left: 300px">
    <div class="form-group">
        <label for="exampleInputDate2">日期</label>
        <input type="date" class="form-control" id="InputDate2" placeholder="2020.3.1" name="date">
        <label for="exampleInputNum2">最低数量</label>
        <input type="test" class="form-control" id="InputNum2" placeholder="请输入最低想显示的数量" name="num">
    </div>
    <button type="submit" class="btn btn-default" id="submit_date2" onclick="return getLines2()" >提交</button>
</form>
<div id="main" class="mainwindow">
    <div id="map" class="mapwindow"></div>
    <div id="map2" class="mapwindow"></div>
</div>
</body>

<script src="js/baiduecharts_kmeans2020.js"></script>
<script src="js/map2.js"></script>
</html>